html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body{
  background-color: #000;
}

body,h1,h2{
  margin: 0;
}

img{
  max-width: 50%;
  height: auto;
}

.header{
  position: sticky;
  top: 0;
  padding: .25rem;
  text-align: center;
  background-color: #000;
  color: #fff;
  margin-top: 2rem;
}

.header a{
  margin: 0 1rem;
  color: #f3f3f3;
  text-decoration: none;
  transition: color .5s;
}

.header a:hover{
  color: #333;
}

[id]{
  scroll-margin-top: 7.5ex;
}

.slide{
  width: 100%;
  min-height: 100vh;
  color: #d9e8f0;
  background-color: #1e2345;
  padding: 2rem;
}

.slide:nth-child(even){
  background-color: #108eb4;
}